h1 {
	font-size: 60px;
	color: #006ec5;
	font-weight: 400;
}

h2 {
	color: #5a6275;
	text-align: center;
	font-size: 80px;
	max-width: 200px;
	margin-left: 30px;
	font-weight: 500;
}

h1,
h2 {
	font-family: "Roboto";
}

.main-card {
	background: #f5f9fd;
	max-width: 765px;
	height: 620px;
	margin: auto;
}

.search-btn {
	width: 100%;
}

.city-option {
	text-align: center;
	padding: 0;
	margin-top: 5px;
}

.celsius-fahrenheit {
	font-size: 30px;
	position: relative;
	top: -40px;
	right: 10px;
}

.celsius-fahrenheit .active {
	color: #5a6275;
	cursor: default;
}

.celsius,
.fahrenheit {
	text-decoration: none;
	font-weight: 450;
}

.current-date {
	margin: 20px 0 0 15px;
	font-size: 22px;
	color: #939aa9;
	font-family: "Noto Sans JP", sans-serif;
}

.main-image {
	width: 230px;
	padding-left: 0;
}

.weather-stats {
	margin-top: 90px;
	margin-left: 40px;
	text-align: left;
	font-size: 22px;
	color: #939aa9;
	font-family: "Noto Sans JP", sans-serif;
}

.description {
	text-transform: capitalize;
}
.weekly-forecast {
	padding-top: 5px;
	height: 245px;
	max-width: 130px;
	font-family: "Roboto";
	background: #cbdffb;
}

.dow-icon {
	width: 80px;
	margin: 20px auto 30px;
}
